extends layout

block content
        .container-fluid
            .jumbotron.text-center
                h1
                    span.fa.fa-lock
                    |  Node Authentication
                p Login or Register with:
                a.btn.btn-danger(href='/auth/google')
                    span.fa.fa-google-plus
                    |  Google
