.postcard .row {
    border-bottom: 1px solid;
    border-color: #bdbdbd;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 0;
}

.postcard-item-header {
    color: dimgray;
}

.postcard-item {
    color: #252525;
    padding-bottom: 3px;
    margin-left: 10px;
    border-bottom: 1px dashed;
    border-color: dimgray;
}

.event-header {
    font-size: 15pt;
}

.sending-date {
    font-size: 16pt;
    color: #e05271;
    font-weight: bold;
}

.empty-postcard {
    text-align: center;
}

.bg-main {
    background-color: #17a2b8 !important;
}

.bg-secondary {
    background-color: #e05271 !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #17a2b8 !important;
}

.nav li a {
    color: #676767;
}

.btn-main {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

#reply {
    color: gray;
    margin-left: 20px;
}

.badge {
    font-size: 12pt;
    margin-left: 10px;
}

.custom-control-input:checked~.custom-control-indicator {
    color: #fff;
    background-color: #e05271;
    width: 20px;
    height: 20px;
}

.custom-control-indicator {
    width: 20px;
    height: 20px;
}

.custom-control-description {
    margin-top: .25rem;
    margin-left: .25rem;
}

.actions {
    margin-top: 15px;
}

.gift-sended-message img {
    width: 35px;
    margin-left: 5px;
}