a {
  color: #00B7FF;
}

.postcard-item-header {
    color: dimgray;
}

.postcard-item {
  color: #252525;
  padding-bottom: 3px;
  margin-left: 10px;
  border-bottom: 1px dashed;
  border-color: dimgray;
}

.event-header {
  font-size: 14pt;
}